.head1 {
    font-family: 'Open Sans', sans-serif;

}

.color1 {
    font-size: 2.2rem;
    font-weight: 700;

    color: transparent;
    background-image: linear-gradient(90deg, #25f1fc, #5bb2ff, #b15dfb);

    -webkit-background-clip: text;
    background-clip: text;
}

@media (max-width:500px) {
    .color1 {
        font-size: 1.7rem;
    }
}