.head1 {
    font-family: 'Open Sans', sans-serif;
}

.color{
    color: transparent;
    /* background-image: linear-gradient(90deg,#2c7ed0 -10.12%,#00a9ed 11.59%,#00db84 69.71%); */
    background-image: linear-gradient(90deg, #25f1fc, #5bb2ff, #b15dfb);
    /* color: white; */
    -webkit-background-clip: text;
    background-clip: text;
  }